/* tweak display: flex menu */
/* the only drawback is that menu item margins does not adapt to screen width
 * and number of menu items any more */
.main-navigation {
  position: relative;
  overflow: hidden;
}

ul.primary-menu {
  position: relative;
  margin: auto;
  padding: auto;
  left: 50%;
  float: left;
  clear: left;
}

li.menu-item {
  position: relative;
  display: block;
  float: left;
  margin: auto 4rem;
  right: 50%;
}


/* tweak display flex in nav links */

.nav-next {
  text-align: right;
}

.nav-next:before {
  float: right;
}

.nav-links > div  {
  display: inline-block;
}

.nav-links .post-title {
  max-width: calc( 100% - 5rem);
  display: inline-block;
  vertical-align: bottom;
}

