/*
Theme Name: alicefa
Theme URI: https://github.com/autra/alice_fagard
Author: Augustin Trancart <augustin.trancart@gmail.com>
Author URI: http:///
Description: Theme for the professional website of Alice Fagard
Template:     twentysixteen
Version: 0.0.9
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: opera
Text Domain: alicefa

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/**
 * Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */

html {
  /*font-family: "Arial";*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

select {
  text-transform: none;
}

button {
  overflow: visible;
}

button,
input,
select,
textarea {
  max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #d1d1d1;
  margin: 0 0 1.75em;
  min-width: inherit;
  padding: 0.875em;
}

fieldset > :last-child {
  margin-bottom: 0;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

optgroup {
  font-weight: bold;
}

/**
 * forms
 */

input {
  line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
  background: #ff9230;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875rem;
  line-height: 1;
  padding: 0.84375rem 0.875rem 0.78125rem;
  text-transform: uppercase;
  -webkit-transition: unset;
  transition: unset;
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  opacity: 0.5;
  -webkit-transition: unset;
  transition: unset;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  background: #f7f4ef;
  border: none;
  border-bottom: 0.2rem solid #f7f4ef;
  border-radius: 2px;
  color: #686868;
  padding: 0.625rem 0.4375rem;
  width: 100%;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #ff9230;
  outline: 0;
}

.post-password-container {
  margin: 1rem 0;
}

.password-container {
  overflow: hidden;
  padding-right: 1.5rem;
}

.post-password-container > .post-password-submit {
  float: right;
}

.search-form {
  position: relative;
}

.search-submit:before {
  content: "\1F50D";
  font-size: 24px;
  left: 2px;
  line-height: 42px;
  position: relative;
  width: 40px;
}

.search-submit {
  border-radius: 0 2px 2px 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
}

/**
 * custom style for Alice
 */

html {
  width: 100%;
  height: 100%;
}

body {
  color: #f7f4ef;
  background: #772F3C;
  height: 100%;
}

/* let's propagate the height to have a full width/height front page image */
.site {
  position: relative;
  height: 100%;
}

.site-inner {
  height: 100%;
}

.site-footer {
  /* what to do with footer? */
  display: none;
}

.site-header-main {
  margin: 0 2rem;
  margin-bottom: 2.2rem;
}

.site-header {
  padding: 3rem 0 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
  text-indent: 1rem;
  margin: 1.5rem 0;
  color: #FF9230;
}

p {
  text-align: justify;
  line-height: 1.75rem;
  font-size: 1.2rem;
}

blockquote {
  border-left: 0.1rem solid #f7f4ef;
  padding: 0 1rem;
  margin: 0;
  font-style: italic;
}

.site-branding {
  margin-bottom: 2rem;
}

.site-branding p {
  text-align: center;
}

.site-description {
  text-transform: uppercase;
  font: .6em Arial;
  color: #FF9230;
  padding-top: 5px;
  letter-spacing: 0.4em;
}

.site-title {
  font: normal 2.5em Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.05em;
  margin: 0 0 1rem;

}

/**
 * Actual content
 */
.site-content {
  height: 100%;
}

/* Content for all the pages except the front page */
.content-area {
  margin: auto 12%;
}

article.type-page h1.entry-title {
    /* no title on articles */
    display: none;
}

.front-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media(max-width: 800px) {
  .front-image {
    background-image: url('/wp-content/themes/alicefa/images/bande_alice.jpg');
  }
}

@media(min-width: 801px) {
  .front-image {
    background-image: url('/wp-content/themes/alicefa/images/bande_alice@2x.jpg');
  }
}

a, a:visited, h1 a, h1 a:visited {
  color: #f7f4ef;
  text-decoration: none;
  position: relative;
  background: linear-gradient(#FF9230, #FF9230) bottom / 0 1px no-repeat;
}

/* h2 are orange, we stay consistent */
h2 > a, h2 a:visited {
  color: #FF9230;
}

a:hover, a:active, li.current-menu-item > a {
  background-size: 100% 1px;
  transition: 0.1s background-size;
}

h2 a, h2 a:active {
  background-image: linear-gradient(#f7f4ef, #f7f4ef);
}

.says, .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

div.menu-menu-container {
  width: 100%;
}

ul.primary-menu {
  margin: 1rem auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li.menu-item {
  list-style: none;
  margin: auto;
  font-size: 1.2rem;
}

.menu-toggle {
  display: none;
}


@media (max-width: 1024px) {

  .content-area {
    margin: auto 8%;
  }
  /**
   * Mechanism to make menu appear/disappear
   */

  .menu-toggle {
    display: block;
    /* I wish I could use visibility: hidden, but Firefox won't let me, see
     * https://bugzilla.mozilla.org/show_bug.cgi?id=1306313 */
    padding: 0;
    font-size: 0;
    position: absolute;
    top: 0.3rem;
    left: 0;
    background: none;
    z-index: 10; /* above the menu */
  }

  .menu-toggle:before {
    /*margin: 0.3rem 0.7rem;*/
    padding: 0.3rem 0.7rem;
    font-size: 2.3rem;
    font-family: "Genericons";
    font-weight: 100;
    content: '\f419'; /* "menu" glyph */
    color: #FF9230;
    transition: ease-in-out all 0.4s;
  }

  .menu-toggle:active {
    opacity: unset; /* here I prefer it without the opacity anim */
  }

  .menu-toggle.toggled-on:before {
    color: #F7f4EF;
  }

  .site-header-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #FF9230;
    border-radius: 0.2rem 0.2rem;
    border-top-left-radius: unset;
    padding: 2.3rem 1rem 0;
    transition: all ease-in-out 0.2s;
  }

  .site-header-menu.toggled-on {
    visibility: visible;
    opacity: 0.9;
  }

  /**
   * Appearance of the menu itself
   */
  .primary-menu {
    flex-direction: column;
  }

  .primary-menu > .menu-item {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  .primary-menu > .menu-item > a {
    background-image: linear-gradient(#f7f4ef, #f7f4ef);
  }

}

/* Post list */
.post:after {
  content: "";
  border-bottom: solid 1px #f7f4ef;
  width: 70%;
  display: block;
  margin: 2rem auto;
}

.entry-footer, .entry-footer a {
  color: #FF9230;
}

.entry-footer a:hover, .entry-footer a:active {
  background-image: linear-gradient(#f7f4ef, #f7f4ef);
}

.avatar, .updated {
  display: none;
}

time.entry-date:before {
  /*content: ", ";*/
  color: #f7f4ef;
}

.comments-link {
  display: none;
  float: right;
}

.entry-footer .author {
  display: none;
}

/**
 * post page
 */
.comment-form label {
    display: block;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
}

/* Navigation link on post page */

.nav-links {
  margin-bottom: .5rem;
}

.nav-links > div {
  width: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav-links > div > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.meta-nav {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.nav-links .post-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-previous:before {
  content: '<';
  margin-right: 0.5rem;
}

.nav-next {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.nav-next:before {
  margin-left: 0.5rem;
  content: '>';
}

.meta-nav:after {
  content: ': ';
}

/* Comments */

li.comment {
  list-style-type: none;
}

.comment-list {
  padding: 0;
}

.comment-content {
  padding-left: 5.1rem;
  margin: 1.2rem 0;
}


.comment-author .avatar {
  height: 3.5rem;
  margin-right: 1.6em;
  width: 3.5rem;
  position: relative;
  float: left;
  display: unset;
}

.comment-meta {
  height: 3.5rem;
}

/* 2 divs in .comment-meta */
.comment-author, .comment-metadata {
  height: 50%;
}

.comment-body {
  margin: 3rem 0;
}

.comment-body > div {
  padding-left: 5.1rem;
}

.comment-reply-link {
  text-transform: uppercase;
}

.edit-link {
  margin-left: 1rem
}

.edit-link:before {
  content: '\f411';
}

.reply:before {
  content: '\f412';
}

.edit-link:before, .reply:before, #cancel-comment-reply-link:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "Genericons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  vertical-align: top;
  margin-right: 0.2rem;
}

#cancel-comment-reply-link {
  visibility: hidden;
}

#cancel-comment-reply-link:before {
  width: unset;
  height: unset;
  position: unset;
  left: unset;
  bottom: unset;
  background-color: unset;
  visibility: visible;
  -webkit-transform: unset;
  transform: unset;
  -webkit-transition: unset;
  transition: unset;
  content: '\f406';
  vertical-align: middle;
}

/**
 * Foobox
 */
.fbx-caption-desc {
  display: none;
}

/**
 * Audio player
 */
.mejs-controls .mejs-time-rail .mejs-time-current {
  background-color: #FF9230 !important;
}

.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
  background: unset !important;
}

/**
 * Widget style
 */
.site-header > .widget-area {
  position: absolute;
  right: 0;
  top: 0;
}

.widget {
  margin: 0.4rem;
}

